body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta esta altura según tus necesidades */
  margin: 0;
}

#contenido {
  background-color: #000000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

#calculadora {
  /* background-color: aqua; */
  padding: 10px 0 10px 0;
  width: 80%;
}

#botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  grid-template-areas:
    "pantalla pantalla pantalla pantalla"
    "boton boton boton boton";
}

#pantalla {
  border-radius: 5px;
  font-family: "Victor Mono", monospace;
  font-size: 30px;
  margin: 20px 0 10px 0;
  padding-left: 10px;
  grid-area: pantalla;
}

button {
  border-radius: 10px;
  font-family: "Victor Mono", monospace;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  grid-area: boton + 1;
}

button:last-child {
  /* Establecer que el botón ocupe las 4 columnas */
  grid-column: span 4;
}

.borrar,
.igual {
  background-color: red;
  border-color: red;
}
